@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

header {
    display: flex;
    flex-direction: row;
    /*background-color: #061396;*/
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.904);
    align-items: center;
}

header img {
    width: 140px;
    /*height: 100%;*/
}

header h1 {
    font-family: "SUSE", sans-serif;
    color: aliceblue;
    font-size: 30px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul li {
    margin: 60px;
    font-size: 18px;
    font-family: "SUSE", sans-serif;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    /*padding-top: 20px;*/
}

header a {
    text-decoration: none;
    color: antiquewhite;
}

.carruselImg {
    height: 460px;
}

.logoImg {
    width: 100px;
}

#mision {
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 40px 0;
    margin-top: 100px;
}

#mision h1 {
    font-size: 35px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    line-height: 1.5em;
}

#mision p {
    font-family: "SUSE", sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
}

#misionTexto {
    padding: 100px 10px 100px 10px;
}

hr {
    height: 15px;
    width: 70%;
    background-color: rgba(250, 3, 3, 0.726);
    border: 1px dashed;
    margin-left: 250px;
}

#seccion2 {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 80px 60px 0 0;
    padding: 10px 15px 10px 15px;
}

#seccion2 h1 {
    font-size: 60px;
    font-family: "SUSE", sans-serif;
}

.caja {
    /*width: 100%;
    height: 100%;*/
    padding: 20px 45px 15px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    line-height: 1.5em;
}

.caja img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.caja p {
    font-size: 22px;
    font-family: "SUSE", sans-serif;
    font-style: normal;
    text-align: justify;
    line-height: 1.5em;
}

.caja h1 {
    font-size: 40px;
    font-family: "Permanent Marker", cursive, sans-serif;
    color: rgb(139, 25, 25);
}

.contenedorBorde {
    width: 50%;
    margin-top: 90px;
    margin-bottom: 200px;
    padding: 25px 10px 25px 10px;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color: rgb(197, 185, 10);
    border-width: thick;
    background-image: linear-gradient(to right, #000000, #300d15, #5a081a, #840016, #aa0000);
}

.titulocontenedor {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: "SUSE", sans-serif;
    text-align: center;
}

.titulocontenedor a {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

.contenedorImg {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}
.contenedorImg img{
    width: 100%;
}

#imagenIglesia{
    height: 355px;
}


.titulocontenedor2 {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-family: "SUSE", sans-serif;
    color: aliceblue;
    text-align: center;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 80px;
    padding: 35px 20px 35px 20px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

footer {
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
}

#imagenFooter{
    box-shadow: 0 0 8px 8px white inset;

}

footer h1 {
    color: aliceblue;
}

footer p {
    color: aliceblue;
}